.th{
    border:2px solid black;
    font-weight:bold;

}
.td{
    border:2px solid black;

}

.menu{
    display:flex;
    flex-direction:row;
    gap:10px;
    list-style:none;
    justify-content:left;
}
.li{
    border-bottom:2px solid blue;
}